@import "../../design_system.css";
/* @import url("http://fonts.cdnfonts.com/css/snell-roundhand"); */

.page-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.contents-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  animation: 2s fadeIn;
  padding: 50px;
}

.center-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 20px 0 20px 0;
  width: 100%;
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 60px;
  font-weight: 700;
  color: var(--color-primary-1);
}

.center-subtitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-general-1);
}

.explanation-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.explanation-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 100px;
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 20px;
}

.explanation-summary {
  font-size: 20px;
  color: var(--color-primary-1);
  margin-bottom: 20px;
}

.explanation-contents {
  color: var(--color-general-1);
}

.expand-icon {
  margin-top: 20px;
  font-size: 30px !important;
  color: var(--color-general-2);
}

.expand-icon:hover {
  cursor: pointer;
  color: var(--color-general-1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
