@import "../../design_system.css";

/* .searchbar-container {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.searchbar {
  background-color: transparent;
  color: var(--color-primary-5);
  font-size: 30px;
  width: 50%;
  height: 50px;
  border-color: var(--color-primary-3);
  border-width: 0 0 2px 0;
}

.searchbar:focus {
  border-color: var(--color-primary-5);
  outline: none;
}

.submit-button {
  background-color: transparent;
  color: var(--color-primary-3);
  border: none;
  transform: translateX(-50px);
  width: 40px;
  height: 40px;
}

.submit-button:hover {
  color: var(--color-primary-5);
  cursor: pointer;
}

.search-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.search-list-item {
  width: 40%;
  margin: 20px;
  padding: 20px 40px 25px 40px;
  border-left: 10px solid var(--color-accent-primary);
  border-radius: 5px;
}

.search-list-item:hover {
  cursor: pointer;
  background-color: var(--color-primary-0);
}

.item-name {
  margin: 0;
}

.item-type {
  margin: 10px 0 10px 0;
  color: var(--color-primary-4);
}

.add-button {
  width: 40px;
  height: 20px;
  margin-top: 10px;
  background-color: var(--color-primary-1);
  color: var(--color-primary-4);
  border: none;
  border-radius: 2px;
  cursor: pointer;
} */
