@import "../../design_system.css";

.timeline-contents {
  display: flex;
  flex-direction: row;
}

.timeline-left-container {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  margin-right: 20px;
}

.timeline-right-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--color-general-8);
  flex: 1 1 0;
  border-radius: 3px;
}
