@import "../design_system.css";

.nav-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 200px;
  height: 100%;
  background-color: var(--color-primary-1);
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 10px solid var(--color-primary-2);
}

.title-text {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
}

.navigation-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-link {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  color: var(--color-general-4);
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  padding-left: 30px;
}

.separator {
  height: 10px;
  background-color: var(--color-primary-2);
}

.navigation-link:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-primary-dark);
}

.active-link {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  color: var(--color-accent-primary);
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  padding-left: 30px;
  cursor: auto;
}
