@import "./design_system.css";

.App {
  text-align: center;
}

.slogan-center {
  color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.handwritten {
  font-style: italic;
  color: var(--color-accent-primary);
  margin-bottom: 40px;
}

.typed {
  color: var(--color-primary-3);
}
