:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-accent-primary: #9c8861;
  --color-accent-primary-lighter: #d3bd94;
  --color-accent-primary-darker: #685632;

  --color-accent-secondary: #61759c;

  --color-primary-0: #373737;
  --color-primary-1: #505050;
  --color-primary-2: #808080;
  --color-primary-3: #a9a9a9;
  --color-primary-4: #bebebe;
  --color-primary-5: #d3d3d3;
  --color-primary-6: #e0e0e0;
}
