@import "../../design_system.css";

.searchbar-container {
  display: flex;
  margin-top: 2px;
  background-color: rgb(239, 239, 239);
  justify-content: left;
  align-items: center;
}

.searchbar {
  background-color: transparent;
  color: var(--color-primary-5);
  font-size: 18px;
  width: 50%;
  height: 50px;
  border: none;
}

.searchbar:focus {
  border: none;
  outline: none;
  color: var(--color-general-0);
}

.search-icon {
  color: var(--color-general-2);
  font-size: 20px !important;
  margin-left: 25px;
  margin-right: 20px;
}
