@import "../../design_system.css";

.detail-panel {
  color: white;
  position: absolute;
  height: 670px;
  width: 25%;
  background-color: var(--color-primary-1);
  display: flex;
  flex-direction: column;
  z-index: 100;
  padding: 10px;
  border: 5px solid var(--color-accent-primary);
  overflow: auto;
}

.title {
  font-size: larger;
  font-weight: 600;
  margin-bottom: 30px;
}

.time {
  font-style: italic;
  margin-bottom: 30px;
}

.content {
  margin-bottom: 30px;
}

.discussion {
  padding-top: 30px;
  border-top: 3px solid var(--color-accent-primary);
  display: flex;
  flex-direction: column;
}

.discussion-indicator {
  font-size: larger;
  font-weight: 600;
}

.discussion-title {
  margin-top: 20px;
  font-style: italic;
  font-weight: 600;
}

.opinion-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: black;
  border-radius: 5px;
}

.opinion-item {
  margin-top: 20px;
}

.opinion-title {
}
