@import "../../design_system.css";

/*

.abstract-list {
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  height: 700px;
} */

.timeline-contents {
  display: flex;
  flex-direction: row;
}

.timeline-left-container {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  margin-right: 20px;
}

.timeline-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  flex: 1 1 0;
}
