@import "../../design_system.css";

.timeline-canvas {
  height: 100%;
  width: 100%;
  background-color: var(--color-primary-2);
}

.abstract-list {
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  height: 700px;
}
