.timeline-menu-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 200;
}

.timeline-menu-icon {
  color: var(--color-primary-1);
  cursor: pointer;
}

.timeline-menu-icon-selected {
  color: var(--color-white);
  background-color: var(--color-primary-1);
  cursor: pointer;
}
